common: &default_settings
  adapter: mysql2
  encoding: utf8
  pool: 5
  port: 3306

development:
  <<: *default_settings
  database: compathy2_development
  username: compathy
  password: compathypass
  host: localhost

test:
  <<: *default_settings
  database: compathy2_test
  username: compathy
  password: compathypass
  host: localhost

